
html{height:100%;}
body{
margin:0;padding:0;
font-family: Geneva, sans-serif,Tahoma;
text-shadow:0 1px 1px rgba(255, 255, 255, 0.33);
height:100%;
}
a{color:black;}
#showli:hover{opacity:1;}
#emailkopf:hover{
width:300px;
height:170px;
z-index:300;
background:none repeat scroll 0 0 rgba(255, 255, 255, 1);
box-shadow:8px 8px 8px #666;
}
.m li, .da li{list-style:none;float:left;padding-right:.6em;padding-top:.4em;}
.m a:hover, .da a:hover {color:#000}
.m{
padding:8px 5px 20px;
position:fixed;
top:0;
border-top-right-radius:0px;
border-bottom-right-radius:39px;
border-bottom-left-radius:0px;
border-top-left-radius:0px;
z-index:20;
background-image: linear-gradient(to right, rgba(255,255,255,1) 17%,rgba(255,255,255,0) 100%);
animation: pulse 12s infinite;
}
.da {padding-top: 200px; font-size: 70%;}
.m li:nth-child(1) {width: 25px; height: 25px;}
.m li:hover:nth-child(2):before {content: "🎓";}
.m li:hover:nth-child(3):before {content: "👔";}
.m li:hover:nth-child(4):before {content: "💪";}
.m li:hover:nth-child(5):before {content: "🗺️";}
.m li:hover:nth-child(6):before {content: "📧";}
.da li:hover:nth-child(1):before {content: "🔒";}
.da li:hover:nth-child(2):before {content: "🧐";}
.m li:hover:before, /* a:hover i,  s:hover i,*/  .m li:nth-child(1) a, .da li:hover:before {
position: fixed;
opacity: 1;
left: .2em;
font-size: 20px;
top: .2em;
height: 42px;
background: #fff;
min-width: 35px;
text-align: center;
line-height: normal;
z-index: 50;   
}
i {font-style: normal; }
s, a {position: relative; display: inline-block;}
i {position: absolute; left: 50%; margin-left: -.5em; opacity: 0; font-size: 1em;}
s:hover, a:hover {color:#fff; }
s:hover i, a:hover i {opacity: 1;}
.m li a:hover:nth-child(2)  {color: rgba(0,0,0,0)}
@keyframes pulse {
0% {background-position: 0 0%;}
50% {background-position: 0 100%;}
100% {background-position: 0 0%;}
}
.m:hover{background-color:rgba(252,252,252,1);}
.m ul{font-size:0.9em;margin:0;padding:0 0 0 11px;}
.m a, .da a, s{text-decoration:none;}
.m a:hover, .da a:hover{background-color:rgba(229, 229, 229, .4);border-radius:5px 5px 5px 5px;}
.wh a:hover{color:#aeaeae;}
.box{width:100%;background:white;padding:0 0 20%;z-index:13;}
.bgw{position:relative;width:100%;background:white;padding:5% 0px 20%;z-index:13;}
.bag{
position:relative;
background-position:center center;
background-size:cover;
z-index:11;
height:80%; 
min-height:500px; 
background-attachment:fixed;
}
#vid{position:relative;height:500px;}
#video video{height:auto;left:0;width:100%;position:fixed;top:0;z-index:10;}
.in{margin:120px 0;}
.bag h1{text-shadow:1px 1px 1px #000000;}
.bag:before{height:200px;display:block;}
.change{
margin:0 auto;
max-width:500px;
padding: 0;
position:relative;
height: 2em;}
h1#a, h1#b, h1#c, h1#d, h1#e{
animation-duration:15s;
animation-iteration-count:infinite;
position:absolute;
padding: 0;
}
h1#a{animation-name:a;}
h1#b{animation-name:b;}
h1#c{animation-name:c;}
h1#d{animation-name:d;}
h1#e{animation-name:e;}
@keyframes a{
0%{opacity:0;}
10%{opacity:1;}
20%{opacity:1;}
30%{opacity:0;}
40%{opacity:0;}
50%{opacity:0;}
60%{opacity:0;}
70%{opacity:0;}
80%{opacity:0;}
90%{opacity:0;}
100%{opacity:0;}
}
@keyframes b{
0%{opacity:0;}
10%{opacity:0;}
20%{opacity:0;}
30%{opacity:1;}
40%{opacity:1;}
50%{opacity:0;}
60%{opacity:0;}
70%{opacity:0;}
80%{opacity:0;}
90%{opacity:0;}
100%{opacity:0;}
}
@keyframes c{
0%{opacity:0;}
10%{opacity:0;}
20%{opacity:0;}
30%{opacity:0;}
40%{opacity:0;}
50%{opacity:1;}
60%{opacity:1;}
70%{opacity:0;}
80%{opacity:0;}
90%{opacity:0;}
100%{opacity:0;}
}
@keyframes d{
0%{opacity:0;}
10%{opacity:0;}
20%{opacity:0;}
30%{opacity:0;}
40%{opacity:0;}
50%{opacity:0;}
60%{opacity:0;}
70%{opacity:1;}
80%{opacity:1;}
90%{opacity:0;}
100%{opacity:0;}
}
@keyframes e{
0%{opacity:0;}
10%{opacity:0;}
20%{opacity:0;}
30%{opacity:0;}
40%{opacity:0;}
50%{opacity:0;}
60%{opacity:0;}
70%{opacity:0;}
80%{opacity:0;}
90%{opacity:1;}
100%{opacity:1;}
}
.page:after{clear:both;content:" ";display:block;height:0;visibility:hidden;}
.box p, .box h1, .box h2, .bgw p, .box ul, .box h3, .box h2{margin:0 auto;padding:0.9em 0;max-width:500px;display: block;}
.m:hover {background:#fff;}
.heins a:hover{
transition:color 0.9s ease-in-out;}
#present li a:hover span{
display:block;
position:absolute;
top:10px;
}
#exper:hover{background-position:0px 60px} 
.imgbox:hover{transform:scale(2) rotate(5deg) translate(50px);}
.imgbox:hover img{z-index:1000;}
#related li a:hover span{display:block;}
.view:hover img{transform:scale(10);opacity:0;}
.view:hover .mask{opacity:1;}
.view:hover h2, .view:hover p, .view:hover a.info{transform:scale(1);opacity:1;}
.gallery-item:hover img{transform:scale(10);opacity:0;background:grey;}
.gallery-item:hover .gallery-caption{font-size:1.2em;top:30px;}
p{margin-top:0;font-size:1.02em;line-height:1.7em;}
h1,h2{margin:0;font-weight:700;}
h1{font-size:2.1em;padding-bottom:20px;}
h2{font-size:1.3em;padding-bottom:15px;}
h3{font-size:0.8em;padding-bottom:15px;}
h4{font-size:.6em}
@media screen and (max-width:800px){
i {-webkit-tap-highlight-color: red;}
p{font-size:1.2em;}
h2{font-size:1.3em}
h1{font-size: 6.7vw;}
.da {position: relative;}
.m{
padding: 0;
background-color:#fff;
animation: unset;
}
.bag {
height: 50%;
min-height: 260px;
background-repeat: no-repeat;
background-attachment: inherit
}
.bag:nth-of-type(2), #vid, .m li:hover:before, em {display: none;}
.in {margin: 0}
.box h1, .box h2, .box h3, .box p {padding: 1vh 2vw;line-height: 7vh;}
.box{padding: 55px 0}
}
